@using Cheeto.Models
@page "/counter"

<PageTitle>Counter</PageTitle>
<style>
    .mybtn {
        color: #f80;
        background-color: #0df;
        border-color: #f80;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        align-items: flex-start;
    }
    .flex-item {
        flex: 0 1 auto;
        align-self: auto;
        margin: 15px;
    }
    img {
        width: 150px;
        height: 150px;
    }
    .blank-img {
        width:150px;
        height:150px;
    }

    .left-align {
        float: left;
    }
    .right-align {
        float: right;
    }
</style>
<div class="overflow-hidden">
    <h1 class="left-align">Counter</h1>
    <button class="btn btn-primary right-align" @onclick="ResetAll">Reset All</button>
</div>
<div class="flex-container">

    <div class="flex-item">
        <p role="status">Current Cheeto Puffs eaten: @saveCounter.PuffyCounter</p>
        <div class="blank-img">
            <img src="CHEETOPUFFY.jpeg" />
        </div>
        <button class="btn mybtn btn-primary" @onclick="IncrementCount">Click me</button>
        <button class="btn mybtn btn-primary" @onclick="ResetCounter">Reset</button>
    </div>

    <div class="flex-item">
        <p role="status">Current Cheeto Paws eaten: @saveCounter.PawsCounter</p>
        <div class="blank-img">
            <img src="https://i5.walmartimages.com/asr/4db79061-1ec2-4552-af13-74d151f6e85e_1.68b102b4b5564304fe01020feb94593a.jpeg?odnWidth=1000&odnHeight=1000&odnBg=ffffff"/>
        </div>
        <button class="btn mybtn btn-primary" @onclick="pawIncrementCount">Click me</button>
        <button class="btn mybtn btn-primary" @onclick="pawResetCounter">Reset</button>
    </div>
    <div class="flex-item">
        <p role="status">Current Hot Asteroid Cheetos eaten: @saveCounter.HotAsteroidsCounter</p>
        <div class="blank-img">
            <img src="https://m.media-amazon.com/images/I/81ECzsIv1gL._SL1500_.jpg" />
        </div>
        <button class="btn mybtn btn-primary" @onclick="hotAIncrementCount">Click me</button>
        <button class="btn mybtn btn-primary" @onclick="hotAResetCounter">Reset</button>
    </div>
    <div class="flex-item">
        <p role="status">Current Flamin Hot Cheetos eaten: @saveCounter.FlaminHotCounter</p>
        <div class="blank-img">
            <img src="CHEETOFLAMINHOT.jpeg" />
        </div>

        <button class="btn mybtn btn-primary" @onclick="FlameIncrementCount">Click me</button>
        <button class="btn mybtn btn-primary" @onclick="FlameResetCounter">Reset</button>
    </div>
    <div class="flex-item">
        <p role="status">Current Baked Cheetos eaten: @saveCounter.BakedCounter</p>
        <div class="blank-img">
            <img src="https://www.kroger.com/product/images/large/front/0002840018390"/>
        </div>
        <button class="btn mybtn btn-primary" @onclick="BakeIncrementCount">Click me</button>
        <button class="btn mybtn btn-primary" @onclick="BakeResetCounter">Reset</button>
    </div>
    <div class="flex-item">
        <p role="status">Current Cheddar Jalepeno Cheetos eaten: @saveCounter.CheddarCrunchCounter</p>
        <div class="blank-img">
            <img src="CHEETOCHEDDARJALEPENO.jpeg" />
        </div>

        <button class="btn mybtn btn-primary" @onclick="ChedIncrementCount">Click me</button>
        <button class="btn mybtn btn-primary" @onclick="ChedResetCounter">Reset</button>
    </div>
    <div class="flex-item">
        <p role="status">Current Cheddar Puff Cheetos eaten: @saveCounter.CheddarPuffCounter</p>
        <div class="blank-img">
            <img src="https://i5.walmartimages.com/asr/ca97e88c-0d69-4b50-82f4-02b48a2a555f.7875a0d140ed286d3d9f8ad5f0e967d3.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" />
        </div>
        <button class="btn mybtn btn-primary" @onclick="CheddarIncrementCount">Click me</button>
        <button class="btn mybtn btn-primary" @onclick="CheddarResetCounter">Reset</button>
    </div>
    <div class="flex-item">
        <p role="status">Current Crunchy Cheetos eaten: @saveCounter.CrunchyCounter</p>
        <div class="blank-img">
            <img src="CHEETOCRUNCHY.jpeg" />
        </div>

        <button class="btn mybtn btn-primary" @onclick="CrunIncrementCount">Click me</button>
        <button class="btn mybtn btn-primary" @onclick="CrunResetCounter">Reset</button>
    </div>
    <div class="flex-item">
        <p role="status">Current Other Cheetos eaten: @saveCounter.OtherCounter</p>
        <div class="blank-img">
            <img src="https://th.bing.com/th/id/R.9bc9763a973269efb8abbe6a338359b4?rik=6lCSpfWp35J%2f2g&pid=ImgRaw&r=0"/>
        </div>
        <button class="btn mybtn btn-primary" @onclick="OthIncrementCount">Click me</button>
        <button class="btn mybtn btn-primary" @onclick="OthResetCounter">Reset</button>
    </div>
</div>
@code {
    [Inject]
    private SaveCounter saveCounter { get; set; }

    private void IncrementCount()
    {
        saveCounter.PuffyCounter++;
    }
    private void ResetCounter()
    {
        saveCounter.PuffyCounter = 0;
    }

    private void pawIncrementCount()
    {
        saveCounter.PawsCounter++;
    }
    private void pawResetCounter()
    {
        saveCounter.PawsCounter = 0;
    }

    private void hotAIncrementCount()
    {
        saveCounter.HotAsteroidsCounter++;
    }
    private void hotAResetCounter()
    {
        saveCounter.HotAsteroidsCounter = 0;
    }

    private void FlameIncrementCount()
    {
        saveCounter.FlaminHotCounter++;
    }
    private void FlameResetCounter()
    {
        saveCounter.FlaminHotCounter = 0;
    }

    private void BakeIncrementCount()
    {
        saveCounter.BakedCounter++;
    }
    private void BakeResetCounter()
    {
        saveCounter.BakedCounter = 0;
    }

    private void ChedIncrementCount()
    {
        saveCounter.CheddarCrunchCounter++;
    }
    private void ChedResetCounter()
    {
        saveCounter.CheddarCrunchCounter = 0;
    }

    private void CheddarIncrementCount()
    {
        saveCounter.CheddarPuffCounter++;
    }
    private void CheddarResetCounter()
    {
        saveCounter.CheddarPuffCounter = 0;
    }

    private void CrunIncrementCount()
    {
        saveCounter.CrunchyCounter++;
    }
    private void CrunResetCounter()
    {
        saveCounter.CrunchyCounter = 0;
    }

    private void OthIncrementCount()
    {
        saveCounter.OtherCounter++;
    }
    private void OthResetCounter()
    {
        saveCounter.OtherCounter = 0;
    }
    private void ResetAll()
    {
        saveCounter.BakedCounter = 0;
        saveCounter.FlaminHotCounter = 0;
        saveCounter.OtherCounter = 0;
        saveCounter.PawsCounter = 0;
        saveCounter.CheddarCrunchCounter = 0;
        saveCounter.CheddarPuffCounter = 0;
        saveCounter.CrunchyCounter = 0;
        saveCounter.HotAsteroidsCounter = 0;
        saveCounter.PuffyCounter = 0;
    }

}

